/* Gaya Umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}

/* Gaya untuk Proyek */
.project {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Gaya untuk Bagian "Tentang Saya" */
#about {
    display: flex;
    align-items: center;
}

.about-content {
    flex: 1; /* Membagi ruang dengan gambar */
}

img {
    max-width: 100%; /* Menghindari gambar yang terlalu besar */
    margin-left: 20px; /* Jarak antara teks dan gambar */
}

